---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
  Content: any;
}

const { post, Content } = Astro.props;
---

<BaseLayout title={post.data.title}>
  <article>
    <header class="article-header">
      <h1>{post.data.title}</h1>
      <div class="article-meta">
        <time datetime={post.data.date.toISOString()}>
          {post.data.date.toLocaleDateString('zh-CN', { year: 'numeric', month: 'long', day: 'numeric' })}
        </time>
        {post.data.category.length > 0 && (
          <span>· {post.data.category.join(' · ')}</span>
        )}
      </div>
    </header>

    <div class="article-content">
      <Content />
    </div>

    <footer class="article-footer">
      {
        post.data.tags.length > 0 && (
          <div class="tags">
            {post.data.tags.map((tag) => (
              <span class="post-tag">{tag}</span>
            ))}
          </div>
        )
      }
    </footer>
  </article>
</BaseLayout>
